<script context="module">
	import Recipe from '$lib/components/recipe.svelte';

	/** @type import('$lib/types/recipe').Recipe */
	export const recipe = {
		title: 'Banana Chocolate Nut Cookies',
		authoredServings: 24,
		servingLabel: 'Cookie',
		steps: [
			[
				'Mix ',
				{ n: 240, unit: 'g', ingredient: 'flour' },
				', ',
				{ n: 1, unit: 'tsp', ingredient: 'baking soda' },
				', ',
				{ n: 1, unit: 'tbsp', ingredient: 'corn starch' },
				', ',
				{ n: 1, unit: 'tsp', ingredient: 'salt' },
				' in a bowl. ',
			],
			[
				'Chop ',
				{ n: 100, unit: 'g', ingredient: 'macadamia nuts' },
				', ',
				{ n: 100, unit: 'g', ingredient: 'pecan nuts' },
				' and ',
				[
					{ n: 120, unit: 'g', ingredient: 'dark chocolate' },
					{ n: 120, unit: 'g', ingredient: 'white chocolate' },
					{ n: 120, unit: 'g', ingredient: 'milk chocolate' },
				],
				' and whisk into the flour mixture.',
			],
			[
				'Mash ',
				{ n: 2, ingredient: 'banana' },
				' and add ',
				{ n: 6, unit: 'tbsp', ingredient: 'melted coconut oil' },
				', ',
				{ n: 250, unit: 'g', ingredient: 'brown sugar' },
				' and ',
				{ n: 2, unit: 'tsp', ingredient: 'vanilla extract' },
				'. ',
				'Combine with the flour mixture. Refrigerate or freeze for 30 minutes.',
			],
			[
				'Preheat oven to 190 C. Form dough into small balls and place them on a baking sheet. Bake for 10 minutes, then let cool for another 10 minutes.',
			],
		],
	};
</script>

<Recipe {recipe} />
