<script>
	import Ingredient from './ingredient.svelte';

	/** @type import("$lib/types/recipe").IngredientGroup */
	export let ingredients;
</script>

<span class="group">
	{#each ingredients as ingredient, index}
		<Ingredient {ingredient} />
		{#if index < ingredients.length - 1}
			<span class="separator">{' or '}</span>
		{/if}
	{/each}
</span>

<style>
	.separator {
		color: var(--accent2);
	}
</style>
