<script>
	import { pluralize } from '$lib/pluralize';
	import { getContext } from 'svelte';

	/** @type import("$lib/types/recipe").Ingredient */
	export let ingredient;

	const state = getContext('recipeState');
	const recipe = getContext('recipe');
	const numberFormat = new Intl.NumberFormat('en-US');

	let name = ingredient.ingredient;
	/** @type number | undefined */
	let amount;
	$: {
		let servingFactor = $state.servings / recipe.authoredServings;
		amount = ingredient.n ? servingFactor * ingredient.n : undefined;

		if (amount !== undefined && ingredient.unit === undefined) {
			name = pluralize(ingredient.ingredient, amount);
		} else {
			name = ingredient.ingredient;
		}
	}
</script>

<span>{amount ? numberFormat.format(amount) : ''} {ingredient.unit ?? ''} {name}</span>

<style>
	span {
		color: var(--accent1);
	}
</style>
