<script>
	import { browser } from '$app/environment';
	import { pluralize } from '$lib/pluralize';
	import { isIngredient, isIngredientGroup } from '$lib/types/recipe';
	import { setContext } from 'svelte';
	import { writable } from 'svelte/store';
	import IngredientGroup from './ingredient-group.svelte';
	import Ingredient from './ingredient.svelte';

	/** @type import('../types/recipe').Recipe */
	export let recipe;

	let state = writable({
		servings: recipe.authoredServings,
	});

	setContext('recipeState', state);
	setContext('recipe', recipe);

	/**
	 * @param {Event & {currentTarget: HTMLInputElement}} event
	 */
	function updateServings(event) {
		const newValue = parseInt(event.currentTarget?.value ?? '', 10);
		state.update((obj) => {
			return {
				...obj,
				servings: newValue,
			};
		});
	}

	let ingredients = recipe.steps
		.flat()
		.filter((part) => isIngredient(part) || isIngredientGroup(part));

	const servingLabel = recipe.servingLabel ?? 'Serving';
</script>

{#if recipe.image}
	<div class="image-container bleed">
		<img src={recipe.image.url} alt="Image of {recipe.title}" />
		{#if recipe.image.credits}
			<a class="credits" href={recipe.image.credits.url}>
				{recipe.image.credits.description}
			</a>
		{/if}

		<div class="heading-background" />
		<div class="image-heading-container">
			<h1>
				{recipe.title}
			</h1>
		</div>
	</div>
{:else}
	<h1>
		{recipe.title}
	</h1>
{/if}

<div class="heading-container">
	<h2>Ingredients</h2>
	<span class="servings">
		{#if browser}
			<input type="number" value={$state.servings} on:change={updateServings} min="1" />
		{:else}
			<span>{$state.servings}</span>
		{/if}
		<span>
			{pluralize(servingLabel, $state.servings)}
		</span>
	</span>
</div>

<ul>
	{#each ingredients as ing}
		<li>
			{#if isIngredient(ing)}
				<Ingredient ingredient={ing} />
			{:else if isIngredientGroup(ing)}
				<IngredientGroup ingredients={ing} />
			{/if}
		</li>
	{/each}
</ul>

<h2>Steps</h2>

{#each recipe.steps as step}
	<p>
		{#each step as part}
			{#if isIngredient(part)}
				<Ingredient ingredient={part} />
			{:else if isIngredientGroup(part)}
				<IngredientGroup ingredients={part} />
			{:else}
				{part}
			{/if}
		{/each}
	</p>
{/each}

<slot />

<style>
	.heading-container {
		display: flex;
		justify-content: space-between;
		margin-top: calc(2.25 * var(--vunit));
		margin-bottom: calc(0.75 * var(--vunit));
	}

	.heading-container > * {
		margin: 0;
	}

	.servings {
		line-height: calc(1.5 * var(--line-height));
		color: var(--light2);
	}

	.servings input {
		font-size: 1rem;
		padding: 0.1em 0.5em;
		max-width: 3.8em;
		text-align: right;
	}

	.image-container {
		position: relative;
		margin-top: var(--vunit);
	}

	.image-container img {
		margin: 0;
		max-height: calc(100vh - 4 * var(--vunit));
		object-fit: cover;
		width: 100%;
	}

	.image-container .heading-background {
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		border-radius: 4px;
		padding: calc(4 * var(--vunit)) 0 calc(0.5 * var(--vunit));
		position: absolute;
		bottom: 0;
		width: 100%;
		backdrop-filter: blur(10px);
		mask: linear-gradient(transparent, rgba(0, 0, 0, 0.6) 30%, black 80%);
	}

	.image-container .image-heading-container {
		position: absolute;
		bottom: 0;
		padding: 0 var(--vunit);
		width: 100%;
	}

	.image-container .image-heading-container h1 {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.85rem;
		transform: translateX(-3px);
		max-width: var(--text-width);
		filter: drop-shadow(0px 1px 1px var(--dark1));
	}

	.credits {
		transform-origin: top right;
		position: absolute;
		top: 0;
		right: 0;
		transform: rotate(-90deg);
		font-size: 0.7em;
		line-height: 2;
	}
</style>
