<template>
    <footer
        class="absolute bottom-4 right-14 text-sm opacity-50"
        v-if="!['cover'].includes($slidev.nav.currentLayout)"
    >
        {{ $slidev.nav.currentPage }} / {{ $slidev.nav.total }}
    </footer>
</template>
