<script context="module">
	import Recipe from '$lib/components/recipe.svelte';

	/** @type import('$lib/types/recipe').Recipe */
	export const recipe = {
		title: 'Double Chocolate Brownies',
		authoredServings: 16,
		servingLabel: 'Brownie',
		steps: [
			['Preheat the oven to 180 C.'],
			[
				'Mix ',
				{ n: 90, unit: 'g', ingredient: 'flour' },
				', ',
				{ n: 1, unit: 'tsp', ingredient: 'baking soda' },
				', ',
				{ n: 200, unit: 'g', ingredient: 'sugar' },
				', ',
				{ n: 100, unit: 'g', ingredient: 'chopped dark chocolate' },
				', ',
				{ n: 20, unit: 'g', ingredient: 'cocoa powder' },
				', ',
				[
					{ n: 110, unit: 'g', ingredient: 'melted butter' },
					{ n: 110, unit: 'g', ingredient: 'melted margarine' },
				],
				', ',
				{ n: 1, unit: 'tsp', ingredient: 'salt' },
				' in a bowl. ',
			],
			['Mix in ', { n: 2, unit: '', ingredient: 'eggs' }, ' one at a time.'],
			[
				'Pour batter into a baking pan and bake for about 25 minutes. Test using a knife or toothpick, it should have a few moist crumbs sticking to it.',
			],
		],
	};
</script>

<Recipe {recipe} />
