<script context="module">
	import { base } from '$app/paths';
	import Recipe from '$lib/components/recipe.svelte';

	/** @type import('$lib/types/recipe').Recipe */
	export const recipe = {
		title: 'Iced Coffee',
		authoredServings: 1,
		image: {
			url: `${base}/coffee.jpg`,
			credits: {
				url: 'https://unsplash.com/photos/HP4VFH70LMc',
				description: 'Photo by Jorik Blom',
			},
		},
		steps: [
			[
				'Mix ',
				{ n: 2, ingredient: 'espresso shot' },
				' with ',
				[
					{ n: 2, unit: 'tsp', ingredient: 'sugar' },
					{ n: 2, unit: 'tsp', ingredient: 'vanilla sugar' },
					{ n: 2, unit: 'tsp', ingredient: 'syrup' },
				],
				' and stir until dissolved. ',
				'Add ',
				{ n: 150, unit: 'ml', ingredient: 'milk' },
				'.',
			],
			[
				'Pour mixture into ',
				{ n: 1, ingredient: 'glass' },
				' and top each glass up with ',
				{ ingredient: 'ice cubes' },
				'.',
			],
			[
				'To get the right amount of coffee flavor, vary the amount of milk. For a more creamy and rich taste, reduce the number of ice cubes - for a more refreshing drink, increase it!',
			],
			['For the syrup, I recommend hazelnut, caramel or vanilla flavor. Enjoy!'],
		],
	};
</script>

<Recipe {recipe} />
