:root {
    --line-height: 1.65;
    --vunit: calc(1rem * var(--line-height));
    --text-width: 32rem;

    --accent0: #88c0d0;
    --accent1: #8fbcbb;
    --accent2: #81a1c1;
    --accent3: #5e81ac;
    --black: #262b38;
    --dark0: #2e3440;
    --dark1: #3b4252;
    --dark2: #434c5e;
    --dark3: #4c566a;
    --light0: #eceff4;
    --light1: #e5e9f0;
    --light2: #d8dee9;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    color-scheme: dark;
    background-color: var(--dark0);
    color: var(--light0);
    font-family: Helvetica, Arial, sans-serif;
    line-height: var(--line-height);
    margin: 0;
    font-size: clamp(16px, 2vw + 8px, 22px);
}

small {
    font-size: 0.75rem;
    color: var(--accent1);
}

a {
    color: var(--accent0);
    text-decoration: none;
}

a:hover {
    color: var(--accent2);
    text-decoration: underline;
}

.icon {
    opacity: 0.75;
    height: var(--vunit);
    margin: 0;
    filter: invert(100%);
}

.icon:hover {
    opacity: 1;
    filter: invert(77%) sepia(21%) saturate(529%) hue-rotate(147deg)
        brightness(94%) contrast(83%);
}

.flex-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--vunit);
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 1.7rem;
    margin: calc(2 * var(--vunit)) -0.5rem var(--vunit);
    line-height: calc(var(--vunit) * 1.5);
}

h2,
h3,
.underlined {
    text-decoration: underline solid var(--dark1) 0.18em;
    text-underline-offset: -0.05em;
    text-decoration-skip-ink: none;
}

h2,
h3 {
    margin: calc(2.25 * var(--vunit)) 0 calc(var(--vunit) * 0.75);
}

.m-0 {
    margin: 0;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: var(--vunit);
}

.mb-2 {
    margin-bottom: calc(var(--vunit) * 2);
}

.mt-2 {
    margin-top: calc(var(--vunit) * 2);
}

pre,
ul {
    margin: var(--vunit) 0;
}

p {
    margin: calc(var(--vunit) / 2) 0;
}

blockquote {
    border-left: 4px solid var(--dark2);
    padding-left: calc(var(--vunit) / 2);
    font-style: italic;
}

main {
    padding: var(--vunit) var(--vunit);
}

main > *,
article > * {
    margin-left: auto;
    margin-right: auto;
}

main > *,
article > *,
.text-width {
    max-width: var(--text-width);
}

code {
    background-color: var(--dark1);
    padding: 0.1em 0.2em;
    font-size: 0.8rem;
}

code,
pre {
    box-shadow: -1px 1px 2px var(--black);
}

pre {
    overflow: auto;
    padding: calc(var(--vunit) / 2);
    border-left: 2px solid var(--accent1);
    margin-left: -2px;
    background-color: var(--dark1) !important;
}

pre code {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
    margin-top: calc(var(--vunit) * 2);
    margin-bottom: calc(var(--vunit) * 2);
    display: block;
    border-radius: 4px;
}

video {
    max-width: 100%;
}

footer {
    border-top: 1px dashed var(--dark2);
    padding-top: var(--vunit);
    margin-top: calc(2 * var(--vunit));
    text-align: center;
}

aside {
    border-bottom: 4px solid var(--black);
    outline: 2px solid var(--black);
    padding: var(--vunit);
    border-radius: 0.25em;
    margin: var(--vunit) auto;
    background-color: var(--dark1);
}

.bleed {
    max-width: 50rem;
}

.full-bleed {
    max-width: unset;
}

.nowrap {
    white-space: nowrap;
}
