<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{{ config.title }} · {{ config.description }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
    <link rel="shortcut icon"  href="{{ get_url(path="favicon.ico") | safe }}" />

    {%- if config.generate_feed %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=config.feed_filenames[0]) | safe }}"/>
    {%- endif -%}

    {% if current_url is defined and current_url is starting_with("http://127.0.0.1:1111/") %}
        <link rel="stylesheet" href="/style.css">
    {% else %}
        {% set data = load_data(path="static/style.css", format="plain") -%}
        <style>{{ data | trim | safe }}</style>
    {% endif %}

    {% block seo -%}
    {%- if config.extra.seo or config.extra.seo is undefined -%}

      <meta property="og:site_name" content="{% block ogsitename %}{{config.title}}{% endblock ogsitename %}"/>
      {% if config.extra.author -%}
        <meta name="author" content="{{ config.extra.author }}" />
      {%- endif %}
      <meta property="og:title" content="{% block ogtitle %}{{config.title}}{% endblock ogtitle %}"/>
      <meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}"/>
      <meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}"/>
      <meta property="og:image" content="{% block ogimage %}{% if config.extra.ogimage %}{{ get_url(path=config.extra.ogimage) | safe }}{% endif %}{% endblock ogimage %}"/>

      <meta name="fediverse:creator" content="@raffomania@mstdn.io"/>

      {% if page.date -%}
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
      {%- endif %}

      {% if page.earlier -%}
        <link rel="prev" href="{{ page.earlier.permalink | safe }}" />
      {%- endif %}
      {% if page.later -%}
        <link rel="next" href="{{ page.later.permalink | safe }}" />
      {%- endif %}

    {%- endif -%}
    {%- endblock seo -%}

    {% block extra_head %}
    {% endblock extra_head %}

  </head>
  {% endblock head %}

  <body>
    <main>
      {% block header %}
      <header>
        {%- if config.extra.header_links %}
          {% for item in config.extra.header_links %}
            {% set item_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
            {% set item_active = current_url is defined 
              and item_url == current_url %}
            {% if item_active %}
              <span class="underlined">{{ item.name }}</span>
            {% else %}
              <a href="{{ item_url | safe }}">{{ item.name }}</a>
            {% endif %}
            {% if loop.last %}{% else %}
              <span>&nbsp;·&nbsp;</span>
            {% endif %}
          {% endfor %}
        {%- endif -%}
      </header>

      {% endblock header %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      <footer>
        <nav>
          {% if config.extra.footer_links %}
            {% for item in config.extra.footer_links %}
              <small>
                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">{{ item.name }}</a>
              </small>
              {% if loop.last %}{% else %}
                <span>·</span>
              {% endif %}
            {% endfor %}
          {% endif %}
          <span>·</span>
          <small>
            Powered by <a href="https://www.getzola.org/">Zola</a>
          </small>
        </nav>
      </footer>
      {% endblock footer %}

    </main>
    {% block after_main %}
    {% endblock after_main %}

    <script data-goatcounter="https://rafaee.goatcounter.com/count"
        async="" src="//gc.zgo.at/count.js"></script>
  </body>
</html>

