{% extends "_base.html" %}
{% block content %}
    <article>
        <h1>{{ section.title }}</h1>

        {% for post in section.pages %}
            <p>
                {% if post.draft %}
                draft:
                {% endif %}
                <a href="{{ post.permalink | safe }}">
                    {{ post.title }}
                </a>
                <br>
                <small>
                    <time datetime="{{ post.date | date(format="%+") }}">
                        {{ post.date | date(format="%B %d, %Y") }}
                    </time>
                </small>
            </p>
        {% endfor %}
    </article>
{% endblock content %}
