<script>
	import { browser, dev } from '$app/environment';
	import style from '../../../static/style.css?url';
	import { preloadCode } from '$app/navigation';
	import { page } from '$app/stores';
	import { base } from '$app/paths';

	let zolaPrefix = dev ? 'http://localhost:1111' : '';
	if (browser) {
		preloadCode();
	}
</script>

<svelte:head>
	<link rel="stylesheet" href={style} />
</svelte:head>

<header>
	<a href="{zolaPrefix}/">Home</a>
	<span>&nbsp;·&nbsp;</span>
	<a href="{zolaPrefix}/articles">Blog</a>
	<span>&nbsp;·&nbsp;</span>
	<a href="{zolaPrefix}/projects">Projects</a>
	<span>&nbsp;·&nbsp;</span>
	<a href="{zolaPrefix}/talks">Talks</a>
	<span>&nbsp;·&nbsp;</span>
	{#if $page.route.id === '/'}
		<span class="underlined">Recipes</span>
	{:else}
		<a href="{base}/">Recipes</a>
	{/if}
</header>
<slot />
