<script>
	/** @type {import('./$types').PageData} */
	export let data;
</script>

<article>
	<h1>🥞 Rafael's Rad Recipe Register</h1>

	A list of recipes I have cooked, tweaked and loved.

	<p>
		{#each data.recipeRoutes as { path, recipe }}
			<a href={path}>{recipe.title}</a><br />
		{/each}
	</p>
</article>
