<script context="module">
	import Recipe from '$lib/components/recipe.svelte';

	/** @type import('$lib/types/recipe').Recipe */
	export const recipe = {
		title: 'Granola',
		authoredServings: 20,
		servingLabel: 'Bar',
		steps: [
			['Preheat the oven at 175 C.'],
			['Line a baking sheet with parchment paper.'],
			[
				'Combine ',
				{ ingredient: 'oats', n: 850, unit: 'g' },
				', ',
				{ ingredient: 'pecans', n: 280, unit: 'ml' },
				', ',
				{ ingredient: 'almonds', n: 280, unit: 'ml' },
				', ',
				{ ingredient: 'pumpkin seeds', n: 110, unit: 'ml' },
				' and ',
				{ ingredient: 'salt', n: 0.5, unit: 'tsp' },
				' in a large mixing bowl.',
			],
			[
				'Measure out ',
				{ ingredient: 'coconut oil', n: 90, unit: 'ml' },
				', ',
				{ ingredient: 'honey', n: 90, unit: 'ml' },
				' and ',
				{ ingredient: 'vanilla extract', n: 1, unit: 'tsp' },
				' and combine in a small, microwavable bowl. Microwave for 30 seconds.',
			],
			[
				'Stir the liquid mixture until coconut oil has completely melted and mixed in with honey and vanilla.',
			],
			['Pour liquid mixture over granola and mix well.'],
			[
				'Scoop granola mixture onto parchment paper and put into the oven. Bake for 15 minutes. Take granola out of the oven and mix on the parchment paper. This helps all granola bake evenly. Bake for 5-7 minutes longer until a light brown color appears on granola.',
			],
			['Let cool for 10 minutes in order to harden.'],
			['Be careful to watch during the last 5-7 minutes, granola is easy to burn!'],
		],
	};
</script>

<Recipe {recipe} />
