<!--
This is the same as the built-in two-column layout, but has a gap applied by default.

  Usage:
```md
---
layout: two-cols
---
# Left
This shows on the left
::right::
# Right
This shows on the right
```
-->

<script setup lang="ts">
const props = defineProps({
    class: {
        type: String,
    },
});
</script>

<template>
    <div
        class="slidev-layout two-columns w-full h-full grid grid-cols-2 gap-x-4"
    >
        <div class="col-left" :class="props.class">
            <slot />
        </div>
        <div class="col-right" :class="props.class">
            <slot name="right" />
        </div>
    </div>
</template>
Footer
