<script context="module">
	import Recipe from '$lib/components/recipe.svelte';

	/** @type import('$lib/types/recipe').Recipe */
	export const recipe = {
		title: 'Black Bean Spaghetti',
		authoredServings: 2,
		servingLabel: 'Serving',
		steps: [
			[
				'Cook ',
				{ n: 200, unit: 'g', ingredient: 'black bean spaghetti' },
				' according to package instructions.',
			],
			[
				'Heat ',
				{ ingredient: 'a generous amount of olive oil' },
				' in a pan. Add ',
				{ n: 20, ingredient: 'cherry tomatoe' },
				', ',
				{ n: 2, ingredient: 'garlic', unit: 'cloves of' },
				' and ',
				{ n: 1, unit: 'teaspoon', ingredient: 'salt' },
				'. Fry for a few minutes.',
			],
			[
				'Add the cooked spaghetti along with ',
				[
					{ n: 4, unit: 'tablespoons', ingredient: 'red pesto' },
					{ n: 4, unit: 'tablespoons', ingredient: 'walnut pesto' },
				],
				' and the zest of ',
				{ n: 0.5, ingredient: 'lemons' },
				' to the pan. Heat well and toss. Mix in juice of the lemons.',
			],
			[
				'Top with ',
				{ ingredient: 'grated parmesan' },
				', ',
				{ ingredient: 'ground pepper' },
				' and ',
				{ n: 2, unit: 'handfuls of', ingredient: 'basil' },
				'.',
			],
		],
	};
</script>

<Recipe {recipe} />
